<!DOCTYPE html>
<html ng-app='CounterApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>

    <title>ng-repeat</title>
  </head>
  <body ng-controller="CounterController">
    <h1>The Digest Cycle</h1>
    <div >
      <button ng-click='showNumberOfWatchers()'>
        Log# of Wathers</button>
        <input type="text" ng-model="name"/>
    </div>

    <div>
      <button ng-click="countOnce()">Up once Counter (once) </button>
    </div>
    <div>
      <button ng-click="upCounter()">Up Counter </button>
    </div>
    <div>
      onceCounter: {{onceCounter + '!'}} <br/>
      counter: {{counter}}
    </div>
    <ul>
      <li ng-repeat="item in sl">{{$index +1}}.{{ item }}</li>
    </ul>

  </body>
</html>
