.message {
  font-size: 1.3em;
  font-weight: bold;
}

.sOk {
  color: green;
}

.sErr {
  color: red;
}

input.err{
  border-color: red;
}

input.ok{
  border-color: green;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}
